<h1>Show Finder</h1>
  <p>Here you can search TV shows using a keyword. Enter the keyword in the form and submit to be brought to a page with matching shows.</p>
  <form action="/search" method="POST">
    <label for="search-field">
      Search Term
      <input id="search-field" type="text" name="searchTerm" placeholder="Search Term"/>
    </label>
    <button type="submit">Submit</button>
  </form>